.container {
  display: flex;
  flex-direction: column;
  height: 1100px; 
  width: 100%;
}

.top-section {
  position: relative;
  flex: 2; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
  width: 100%;
  min-height: 733px;
}

.image-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 477px;
  height: 178.5px;
}

.bottom-section {
  flex: 1; 
  display: flex;
  background-color: white; 
  min-height: 367px;
}

.left-section, .right-section {
  flex: 1;
  padding: 20px;
}

.left-section img {
  width: 603px; 
  height: 300px; 
}

.right-section header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.right-section p {
  line-height: 1.6;
  width: 100%;
}