.container1 {
  display: flex;
  margin-top: 20px;
  position: absolute;
  top: 2500px;
  left: 0px;
  width:100% ;
}

.image-container {
  flex: 1;
}

.styled-image {
  width: 612px;
  height: 700px;
  border-radius: 20px;
}

.text-container {
  flex: 1;
  background-color: pink;
  display: flex;

  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 687px;
  height: 700px;
  border-radius: 20px;

}

.con-heading{
  position: absolute;
  top: 40px;
  left: 741px;
  width: 440px;
  height: 58px;
  font-family: 'Aleo';
  font-size: 48px;
  /* text-shadow: 100px 100px 100px 100px rgba(0, 0, 0, 0.5); Soft, smoky shadow */
}
.con-para{
  position: absolute;
  top: 200px;
  left: 741px;
  width: 440px;
  height: 226px;
  font-family: 'Aleo';
  font-size: 20px;
}
.con-pic{
  position: absolute;
  top: 500px;
  left: 741px;
  width: 375px;
  height: 112px;
  font-family: 'Aleo';

}
.con-head3{
  position: absolute;
  top: 625px;
  left: 741px;
  width: 324px;
  height: 38px;
  font-family: 'Aleo';
  font-size: 20px;
  /* text-shadow: 100px 100px 100px 100px rgba(0, 0, 0, 0.5); Soft, smoky shadow */

}