
.artist-studio{
    width: 1224px;
    height: 1200px;
    position: relative;
    border-radius: 30px;
    /* background: rgba(255, 253, 244, 1); */
    background: black;
    box-sizing: border-box; /* Ensures padding is included in width/height */
    margin: 0px auto; /*Center the component horizontally*/
  }