.home-page {
  width: 1224px;
  height: auto;
  /* Remove position absolute for testing */
  position: relative;
  /* Adjust these values */
  /* top: -316px;
  left: 10604px; */
  border-radius: 30px;
  background: rgba(255, 253, 244, 1);
  box-sizing: border-box; /* Ensures padding is included in width/height */
  margin: 0px auto; /*Center the component horizontally*/
}





