.sixth-sec-main {
  position: relative;
  width: 100%;
}

.sixth-sec-button {
  background-color: white; /* Button background color */
  color: black; /* Text color */
  position: absolute;
  left: 580px;
  top: 3900px;
  width: 220px;
  height: 50px;
  border: 3px solid black;
  border-radius: 30px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5); /* Soft, smoky shadow */
  padding: 10px 20px;
  font-size: 22px;
  font-family: 'Aleo', sans-serif;
  cursor: pointer; /* Pointer cursor on hover */
}

.sixth-sec-container {
  display: flex !important;
  margin-top: 20px;
  position: absolute !important;
  top: 4000px;
  left: 40px;
}

.sixth-sec-image-container {
  flex: 1;
}

.sixth-sec-styled-image {
  width: 687px;
  height: 700px;
  border-radius: 20px;
}

.sixth-sec-text-container {
  flex: 1;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 687px;
  height: 700px;
  border-radius: 20px;
}

.sixth-sec-heading {
  position: absolute;
  top: 40px;
  left: 741px;
  width: 440px;
  height: 58px;
  font-family: 'Aleo';
  font-size: 48px;
}

.sixth-sec-para {
  position: absolute;
  top: 200px;
  left: 741px;
  width: 440px;
  height: 226px;
  font-family: 'Aleo';
  font-size: 20px;
}

.sixth-sec-pic {
  position: absolute;
  top: 500px;
  left: 741px;
  width: 375px;
  height: 112px;
}

.sixth-sec-head3 {
  position: absolute;
  top: 625px;
  left: 741px;
  width: 324px;
  height: 38px;
  font-family: 'Aleo';
  font-size: 20px;
}
