.profile {
  width: 100%; /* Ensures it takes the full width of the parent */
  height: 1800px;
  position: relative;
  border-radius: 30px;
  background: rgba(255, 253, 244, 1);
  box-sizing: border-box; /* Ensures padding is included in width/height */
  margin: 0 auto; /* Center the component horizontally */
  right: 30px;
}
