/* src/styles/RightSectionSignin.css */
.logo10 {
  width: 155px;
  height: 97px;
  position: absolute; /* Position relative to the nearest positioned ancestor */
  top: 24px; /* 24px from the top of the container */
  left: 1000px; /* 507px from the left of the container */
  opacity: 1; /* Make it visible */
}


/* src/styles/RightSectionSignin.css */
.sign_div1 {
  width: 299px;
  height: 38px;
  position: absolute; /* Positions relative to the page container */
  top: 53px;
  left: 702px;
  opacity: 1;
  font-family: 'Aleo', sans-serif; /* Apply the Aleo font */
  font-size: 32px;
  font-weight: 600; /* Remove 'px' */
  line-height: 38.4px;
  text-align: left;
  box-shadow: 0px 4px 4px rgba(175, 75, 75, 0.25); /* Correct box-shadow syntax */


}

.sign_div2{
  width: 425.89px;
  height: 52.02px;
  position: absolute;
  top: 137px;
  left: 628px;
  border: 3px solid rgba(0, 0, 0, 1);
  border-radius: 100px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


}

.Google_Text{
  width: 245px;
  height: 30.17px;
top: 148.44px;
left: 702px;
font-family: 'Aleo', sans-serif; /* Apply the Aleo font */
font-size: 24px;
font-weight: 400;
line-height: 28.8px;
text-align: left;


}

.google-logo{
  width: 41px;
height: 40px;
top: 143px;
left: 980px;
margin-left: 10px;


}


.sign_div4 {
  position: absolute;
  top: 222px;
  left: 652px;
  width: 400px; /* Adjust as needed to fit content and lines */
  display: flex;
  align-items: center;
  justify-content: space-between;
}





.or-text {
  width: 136px;
height: 17px;
top: 222px;
left: 766px;
  font-family: 'Aleo', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
}



.line {
  width: 110px;
  border-top: 1px solid rgba(0, 0, 0, 1);
}



.left-line {
  top: 230px;
  left: 652px;
  border: 1px 0px 0px 0px;}

.right-line {
  top: 230px;
  left: 911px;
  border: 1px 0px 0px 0px;}



/* Email Heading */
.email-label {
  position: absolute;
  top: 290px;
  left: 546px;
  font-family: 'Aleo', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  color: rgba(0, 0, 0, 1);
}

/* Email Input Field */
.email-input {
  width: 631px;
  height: 50px;
  position: absolute;
  top: 334px;
  left: 536px;
  border: 3px solid rgba(135, 130, 130, 1);
  border-radius: 15px;
  background: linear-gradient(90deg, #FFFDF4 65.5%, #998486 100%);
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.4);
  padding: 10px;
}

/* Password Label and Forget? */
/* Password Container */
.password-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 449px;
  left: 532px;
  width: 631px;
}

.password-label {
  font-family: 'Aleo', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  color: rgba(0, 0, 0, 1);
}

.forgot-password {
  font-family: 'Aleo', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
  text-align: right;
}





/* Password Input Field */
.password-input {
  width: 631px;
  height: 50px;
  position: absolute;
  top: 488px;
  left: 532px;
  border: 3px solid rgba(135, 130, 130, 1);
  border-radius: 15px;
  background: linear-gradient(90deg, #FFFDF4 65.5%, #998486 100%);
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.4);
  padding: 10px;
}

.password-input::placeholder{
  width: 150px;
height: 29px;
top: 499px;
left: 541px;
font-family: Aleo;
font-size: 24px;
font-weight: 200;
line-height: 28.8px;
text-align: left;


}

/* Sign In Button */
.signin-button {
  width: 437px;
  height: 51px;
  position: absolute;
  top: 594px;
  left: 615px;
  border-radius: 100px;
  background-color: #000;
  color: #fff;
  font-family: 'Aleo', sans-serif;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Sign Up Text */
.signup-text {
  position: absolute;
  top: 665px;
  left: 693px;
  font-family: 'Aleo', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
}

.signup-link {
  color: #000;
  cursor: pointer;
  text-decoration: underline;
}


.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 305px;
  margin-left: 20px;
}

.error-message1 {
  color: red;
  font-size: 0.9rem;
  margin-top: px;
  margin-left: 0px;
}
