/* styles/SearchPage.css */

.search-page {
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 30px;
  background: rgba(255, 253, 244, 1);
  box-sizing: border-box; /* Ensures padding is included in width/height */
  margin: 0px auto; /*Center the component horizontally*/
  }