/* src/styles/SignInPage.css */
.container {
  width: 100%; /* Full width for responsiveness */
  height: auto; /* Allow height to adjust based on content */
  background-color: white;
  border-radius: 20px 0 0 0; /* Rounded corners */
  display: flex; /* Use flexbox for layout */
  overflow: hidden; /* Prevent overflow */
}


.left-image-container {
  flex: 0 0 468px; /* Fixed width for the left image section */
  height: 100%; /* Full height */
}

.right-section {
  flex: 1; /* Allow the right section to take the remaining space */
  background-color: white; /* Set background color */
  color: black; /* Change text color to be visible */
  padding: 20px; /* Add padding */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange items in a column */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}