.featured-art1 {
  position: relative;
  width: 1224px; /* Set custom width */
  height: 636px; /* Set custom height */
  margin: 0 auto; /* Center align */
  overflow: hidden; /* To clip any overflowing content */
}

.background-image11 {
  width: 90%; /* Full width to fit the container */
  height: 100%; /* Full height to fit the container */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.heading-icons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 888px;
  left: 50px;
  width: 100%; /* Take full width for correct spacing */
  max-width: 1000px; /* Match width to image container */
}

.specific-h2 {
  font-family: 'Aleo';
  font-size: 40px;
}

.icons-container {
  display: flex;
  gap: 35px; /* Space between icons */
}

.icon {
  width: 24px; /* Adjust icon size as needed */
  height: 24px;
  cursor: pointer;
}

.icon:hover {
  opacity: 0.8; /* Optional hover effect */
}

.specific-Price {
  position: absolute;
  top: 940px;
  left: 50px;
  font-family: 'Aleo';
  font-size: 32px;
}
