.main-headin3{
  width: 560px;
  height: 38px;
  color: black;
  align-items: center;
  position: absolute;
  left: 473px;
  top: 2045px;
  font-family: 'Aleo', sans-serif;
  font-size: 32px;
  font-weight: 500; /* Makes the text bold */
  /* margin-top: 13px; */
  letter-spacing: 7px;
  line-height: auto;
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2); /* Horizontal and Vertical offset, blur radius, color */

}


.art-cards-container11 {
  display: flex;
  width: 600px;
  height: 231px;
  justify-content: space-between;
  position: absolute;
  top: 2180px;
  left: 51px;
  gap: 200px;


  
}

.art-card {
  width: 30%;
  border: 1px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Background shadow effect */

}


.card-image {
  background-size: cover;
  width: 330px;
  height: 232px;
  border: 1px;
  border-radius: 20px;
  box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.5); /* Soft, smoky shadow */

}



.card-details {
  display: flex;
  width: 330px;
  height: 232px;
  justify-content: space-between;
  padding: 10px 0;
  background-color: white;
}

.left-details {
  text-align: left;
}

.art-title {
  font-size: 24px;
  font-weight: bold;
}

.artist-name, .art-type, .art-material, .dimensions {
  font-size: 16px;
  color: #333;
}

.right-details {
  text-align: right;
}

.price-old {
  text-decoration: line-through;
  color: #888;
}

.price-new {
  font-size: 20px;
  font-weight: bold;
}

.discount {
  color: green;
  font-weight: bold;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
}

.icon-container {
  background-color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 30px;
  width: 146.58px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container img {
  width: 24px;
  height: 24px;
}



.art-cards-container1 {
  display: flex;
  width: 600px;
  height: 231px;
  justify-content: space-between;
  position: absolute;
  top: 2747px;
  left: 51px;
  gap: 150px;


  
}

.art-card1 {
  width: 30%;
  border: 1px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Background shadow effect */

}


.card-image1 {
  background-size: cover;
  width: 330px;
  height: 232px;
  border: 1px;
  border-radius: 20px;
  box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.5); /* Soft, smoky shadow */

}



.card-details1 {
  display: flex;
  width: 330px;
  height: 232px;
  justify-content: space-between;
  padding: 10px 0;
  background-color: white;
}

.left-details1 {
  text-align: left;
}

.art-title1 {
  font-size: 24px;
  font-weight: bold;
}

.artist-name1, .art-type1, .art-material1, .dimensions1 {
  font-size: 16px;
  color: #333;
}

.right-details1 {
  text-align: right;
}

.price-old1 {
  text-decoration: line-through;
  color: #888;
}

.price-new1 {
  font-size: 20px;
  font-weight: bold;
}

.discount1 {
  color: green;
  font-weight: bold;
}

.card-buttons1 {
  display: flex;
  justify-content: space-between;
}

.icon-container1 {
  background-color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 30px;
  width: 146.58px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container1 img {
  width: 24px;
  height: 24px;
}


.pain-line{
  width: 1181px;
  height: 0px;
  position: absolute;
  left: 20px;
  top: 3350px;
}

.main-headin4{
  width: 560px;
  height: 38px;
  color: black;
 align-items: center;
  position: absolute;
  left: 439px;
  top: 3400px;
  font-family: 'Aleo', sans-serif;
  font-size: 32px;
  font-weight: 500; /* Makes the text bold */
  /* margin-top: 13px; */
  letter-spacing: 7px;
  line-height: auto;
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2); /* Horizontal and Vertical offset, blur radius, color */

}

.art-cards-container2 {
  display: flex;
  width: 1000px;
  height: 231px;
  justify-content: space-between;
  position: absolute;
  top: 3500px;
  left: 51px;
  gap: 30px;


  
}

.art-cards-container33 {
  display: flex;
  width: 1000px;
  height: 231px;
  justify-content: space-between;
  position: absolute;
  top: 4100px;
  left: 51px;
  gap: 30px;


  
}