/* UploadArtworkPage.css */
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&display=swap');

.upload-artwork-page {
  font-family: 'Aleo', serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fdfbf5;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #0c0c0c;
}

.upload-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.primary-photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 100px;

  
}

.upload-label {
  font-weight: bold;
  margin-bottom: 10px;
}

.upload-primary-photo-container {
    width: 300px;
    height: 300px;
    margin: 0 auto; /* Center the container */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5eae3; /* Match your theme */
    border: 2px dashed #b8a7a1; /* Optional styling for the container */
    border-radius: 12px;
  }
  .upload-primary-photo-container input[type="file"] {
    display: none; /* Hide the default input for styling */
  }
  .upload-primary-photo-label {
    font-family: 'Aleo', serif;
    font-size: 16px;
    color: #6e5e56;
    text-align: center;
    cursor: pointer;
  }
  
.file-input {
  padding: 8px;
}

.text-input,
.textarea {
  width: 80%;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 100%px;
  font-size: 14px;
  box-sizing: border-box;
  margin-left: 40px;
  margin-bottom: 20px;
  margin-right:30px;
}
.error-message1{
 text-align:Center;
font-size:15px;
color: red;
margin-left:60px;
margin-top:20px;

}
.textarea {
  resize: none;
  height: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.dimensions-section {
  display: flex;
  gap: 40px;
}

.additional-images {
  display: flex;
  gap: 10px;
}

.save-button {
  width: 300px;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.save-button:hover {
  background-color: #333;
}

.rounded-input {
  border-radius: 8px;
}
